html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  background-color: #fffaf0;
}
